.pic-square {
  max-width: 450px;
}

.rootrot-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-pics {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}