body {
  background-color: rgb(255, 252, 247);
}

#name {
  padding: 5px;
  padding-left: 8px;
  position: fixed;
  top: 0;
}

.pic-square {
  width: 33.333%;
  padding: 5px;
  object-fit: cover;
}

.selfpres-div {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
}

.player-wrapper {
  position: relative;
  /* Player ratio: 100 / (1280 / 720) */
  padding-top: 56.25%;
  margin-left: 4%;
  margin-right: 4%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#spliffbreak-vid-div {
  width: 600px;
  padding: 50px;
}

.rootrot-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selfpres-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-pics {
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.home-pics-div {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}